<footer>
  <small>
    <a href="http://2.bp.blogspot.com/-vr-IvybibKQ/TzbrpnP9x7I/AAAAAAAACqE/kc_BY-hI36Y/s1600/PyramidSchematic.gif">power</a>
    <a href="http://ageoftruth.dk/wp-content/uploads/2012/07/Knights-Templar-3.jpg">glory</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "about", about_path %></li>
      <li><%= link_to "home", root_path %></li>
    </ul>
  </nav>
</footer>
