<% provide(:title, "About") %>

<h1>About Big Papi Bloggo</h1>
  <ul>
    <li>Bloggo is the Blog Master, and masters this blog </li>
    <li>Bloggo is also a ninja of plants </li>
  </ul>
  <p class='disclaimer'><em>Big Papi Bloggo is an exclusive Kreative Kommons ficshunal property </em></p>
