<div class="center jumbotron">
  <h1>Bloggo</h1>
    <p><strong>This is the homepage for Big Papi Bloggo's M-M-M-M-Megablog</strong></p>
  <%= link_to "sign up", signup_path, class: "btn btn-lg btn-primary" %>
</div>
